*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}
#root{
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;

}
.app{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100wh;
    

}

.webcam {

    position: absolute;
    width: 640px;
    height: 480px;
    
}
.webcam {
    visibility:hidden;
    
}
.canvas{
    position: absolute;
    width: 640px;
    height: 480px;
    border: 1px solid red;
    border-radius: 50%;
}
